h1{background-color: rgb(30, 163, 48); text-align: center; color:white ;
border-radius: 20px; width: 444px;}
body{
    background-color: rgb(207, 237, 100);
    background-image:url(forest3.webp);
    image-rendering:auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.titulo1:hover{
    transform:scale(1.05);
     z-index: index 1;  
}
.inte-1:hover{
    transform:scale(1.05);
    z-index: 1;
}
.body2{
    background-color: aliceblue;
    border-radius:20px;width:700px;align-content: center; align-items: center; margin-left:20%;
    
}

